test.c
out
cmp
.gitignore
minishell
.DS_Store
minishell_1007-main/explain_git_init_git_push.mp4
sigtest.c
a.out
infile
outfile
text
.vscode/tasks.json
.vscode/settings.json
cmp_err
exit42
out_err
print_args
test.sh
error.log
minishell_tester/
ls
test_minishell.sh
test/